<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <customErrors mode="Off"/>

      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
      
    </system.web>

  <connectionStrings>
<!--prod-->
    <!--<add name="db" connectionString="Data Source=Media.ruppin.ac.il; Initial Catalog=bgroup45_prod;User ID=bgroup45; Password=bgroup45_64924" providerName="System.Data.SqlClient"/>-->
<!--test1-->    
    <!--<add name="db" connectionString="Data Source=Media.ruppin.ac.il; Initial Catalog=bgroup45_test1;User ID=bgroup45; Password=bgroup45_64924" providerName="System.Data.SqlClient"/>-->
<!--local-->
    <add name="db" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=EZDrive;Integrated Security=True" />
<!--local נייד-->
    <!--<add name="db" providerName="System.Data.SqlClient" connectionString="Data Source=נייד-רז\SQLEXPRESS;Initial Catalog=EZDrive;Integrated Security=True" />-->


  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="apiKey" value="AIzaSyCNYTbd-n-xTIH2xsJ0dfHlU8_dWPRO5Rs"/>
    <!--<add key="apiKey" value="AAAAgTL82rU:APA91bHhcPkGjGpwsNt8vWvxRv-9g6m0l-24fkAToP6scmbE85jN6_MhMyoI5i3gca4XI93qJuGxaFLk8g8Q45CLOUQd1495RQIQ8CgCp91LTuMbfkfkVbHJD-GT4mBkW6jvwOIGL5OX"/>-->
  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
